[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown = "*"
jinja2 = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
