<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="{{ '/static/crp.css' | absolute_url }}">
</head>
<body>
  <header>
      <h4>Home</h4>
      <ul>
        <li><a href="{{ '/index.html' | absolute_url }}">Programs Overview</a></li>
      </ul>

      <h4>Chrome Root Program</h4>
      <ul>
        <li><a href="{{ '/crp/policy' | absolute_url }}">Policy</a></li>
        <li><a href="https://chromium.googlesource.com/chromium/src/+/main/net/data/ssl/chrome_root_store/root_store.md" target="_blank" rel="noopener">Chrome Root Store</a></li>
        <li><a href="{{ '/apply-for-inclusion' | absolute_url }}">Apply for Inclusion</a></li>
        <li><a href="{{ '/moving-forward-together' | absolute_url }}">Moving Forward, Together</a></li>
        <li><a href="{{ '/policy-archive' | absolute_url }}">Policy Archive</a></li>
        <li><a href="https://chromium.googlesource.com/chromium/src/+/main/net/data/ssl/chrome_root_store/faq.md" target="_blank" rel="noopener">Frequently Asked Questions</a></li>
      </ul>

      <h4>Chrome Quantum-resistant Root Program</h4>
      <ul>
        <li><a href="{{ '/cqrp/draft-policy' | absolute_url }}">Policy (Draft)</a></li>
        <li><a href="{{ '/cqrp/root-store' | absolute_url }}">CQRP Root Store</a></li>
        <li><a href="{{ '/cqrp/apply' | absolute_url }}">Apply for Inclusion</a></li>
        <li><a href="{{ '/cqrp/testing' | absolute_url }}">Testing Instructions</a></li>
        <li><a href="{{ '/cqrp/faq' | absolute_url }}">Frequently Asked Questions</a></li>
        <li><a href="https://www.chromium.org/Home/chromium-security/post-quantum-auth-roadmap/" target="_blank" rel="noopener">Post-Quantum HTTPS Authentication Roadmap</a></li>
      </ul>
    </header>
  <section>
    {{ content | safe }}
  </section>
</body>
</html>
